<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @persona.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @persona.apellidos %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @persona.rut %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
