<div class="panel panel-default">
  	<div class="panel-heading">
    	<ol class="breadcrumb">
    		<li><a href="/"><h4>Panel de control</h4></a></li> 
    		<li class="active"><h4>/ Administrar Recintos</h4></li>
  	</div>
  	<div class="panel-body">

  		<div class="accordion" id="accordion2">
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        <h4><b>Administrar Camas</b></h4>
		      </a>
		    </div>
		    <div id="collapseOne" class="accordion-body collapse">
		      <div class="accordion-inner">
		        <h4>Registrar Cama </h4>
		        <%= link_to t('.Registrar', :default => t("helpers.links.Registrar")),
		                      new_cama_path, :class => 'btn btn-primary' %>

		        <h4>Posicionar Cama </h4>
		        <%= link_to t('.Posicionar', :default => t("helpers.links.Posicionar")),
		            camas_path, :class => 'btn btn-primary' %>
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		        <h4><b>Administrar Habitaciones</b></h4>
		      </a>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		      <div class="accordion-inner">

		        <h4>Registrar Habitación </h4>
		        <%= link_to t('.Registrar', :default => t("helpers.links.registrar")),
		                      new_habitacion_path, :class => 'btn btn-primary' %>

		        <h4>Listar Habitación </h4>
		        <%= link_to t('.Listar', :default => t("helpers.links.listar")),
		            habitacions_path,
		            :class => 'btn btn-primary' %>  
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		        <h4><b>Administrar Salas</b></h4>
		      </a>
		    </div>
		    <div id="collapseThree" class="accordion-body collapse">
		      <div class="accordion-inner">

		        <h4>Registrar Sala </h4>
		        <%= link_to t('.Registrar', :default => t("helpers.links.registrar")),
		                      new_sala_path, :class => 'btn btn-primary' %>

		        <h4>Listar Salas </h4>
		        <%= link_to t('.Listar', :default => t("helpers.links.listar")),
		            salas_path,
		            :class => 'btn btn-primary' %>  
		      </div>
		    </div>
		  </div>
		  <div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		        <h4><b>Administrar Áreas</b></h4>
		      </a>
		    </div>
		    <div id="collapseFour" class="accordion-body collapse">
		      <div class="accordion-inner">

		        <h4>Registrar Área </h4>
		        <%= link_to t('.Registrar', :default => t("helpers.links.registrar")),
		                      new_area_path, :class => 'btn btn-primary' %>

		        <h4>Listar Áreas </h4>
		        <%= link_to t('.Listar', :default => t("helpers.links.listar")),
		            areas_path,
		            :class => 'btn btn-primary' %>  
		      </div>
		    </div>
		  </div>

	</div>
</div>