<%= form_for @sala, :html => { :class => 'form-horizontal' } do |f| %>
  
  <!-- SELECCIONAR EL ÁREA A LA QUE PERTENECE -->

  <%- model_class = Area -%>
  <h4>Seleccione el área asociada</h4>
  <%= f.select :idArea ,options_from_collection_for_select(@areas, 'idArea', 'especialidadArea') %>

  <h4>Ingrese código de la sala</h4>
  <%= f.text_field :codVisibleSala, :class => 'text_field', :required => :true %>
  
  <h4>Seleccione el tipo de sala</h4>
  <%= f.select :tipoSala, 
          "<option value='Común'>Común</option>
          <option value='Observación'>Observación</option>
          <option value='Recuperación'>Recuperación</option>
          <option value='Pabellon'>Pabellon</option>".html_safe %>
  
  <h4>Seleccione el estado de la sala</h4>
  <%= f.select :estadoSalas, 
          "<option value='Disponible'>Disponible</option>
          <option value='Ocupado'>Ocupado</option>".html_safe %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                salas_path, :class => 'btn' %>
  </div>
<% end %>
