<CENTER>
<div class="titulo-h1"><h1>Bienvenido a MedicNITE</h1></div>

    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
	    <div class="active item">
	    	<%= image_tag("hbl.jpg", :size => "640x480") %>
	    	<div class="carousel-caption">
			    <h3>Gestionando la Salud</h3>
			    <p>El propósito de esta aplicación, es dar soporte a la</br> administración de personas y ocupamiento de recintos hospitalarios.</p>
			</div>
	    </div>	    
	    <div class="item">
	    	<%= image_tag("hsj.jpg", :size => "640x480") %>
	    	<div class="carousel-caption">
			    <h3>Gestionando Recintos Médicos</h3>
			    <p>El propósito de esta aplicación, es dar soporte a la</br> administración de personas y ocupamiento de recintos hospitalarios.</p>
			</div>
	    </div>
	    <div class="item">
	    	<%= image_tag("hfb.jpg", :size => "640x480") %>
	    	<div class="carousel-caption">
			    <h3>Gestionando Personas</h3>
			    <p>El propósito de esta aplicación, es dar soporte a la</br> administración de personas y ocupamiento de recintos hospitalarios.</p>
			</div>
	    </div>
	    <div class="item">
	    	<%= image_tag("hosp02.jpg", :size => "640x480") %>
	    	<div class="carousel-caption">
			    <h3>Organizando Areas Médicas</h3>
			    <p>El propósito de esta aplicación, es dar soporte a la</br> administración de personas y ocupamiento de recintos hospitalarios.</p>
			</div>
			<div class="carousel-caption">
			    <h3>Organizando tus Visitas</h3>
			    <p>El propósito de esta aplicación, es dar soporte a la</br> administración de personas y ocupamiento de recintos hospitalarios.</p>
			</div>
	    </div>
	    <div class="item">
	    	<%= image_tag("el-pino.jpg", :size => "640x480") %>
	    	<div class="carousel-caption">
			    <h3>Gestionando Recursos Habitacionales</h3>
			    <p>El propósito de esta aplicación, es dar soporte a la</br> administración de personas y ocupamiento de recintos hospitalarios.</p>
			</div>
	    </div>
	    <div class="item">
	    	<%= image_tag("el-pino2.jpg", :size => "640x480") %>
	    	<div class="carousel-caption">
			    <h3>Seguimiento de Asignaciones</h3>
			    <p>El propósito de esta aplicación, es dar soporte a la</br> administración de personas y ocupamiento de recintos hospitalarios.</p>
			</div>
	    </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</CENTER>