<h2>Creando un nuevo usuario</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <br/><div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, :required => :true , :autocomplete => false, placeholder: "ejemplo@ejemplo.ej"%></div>

  <br/><div><%= f.label :password %>
  <%= f.password_field :password, :required => :true, :autocomplete => false, placeholder: "Mínimo 8 carácteres"%></div>

  <br/><div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :required => :true, :autocomplete => false, placeholder: "Vuelva a escribir su contraseña"%></div>

  <div><%= f.submit "Registrarse", :class => 'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
