
<div class="panel panel-default">
  <div class="panel-heading">
    <ol class="breadcrumb">
    <li><a href="/"><h4>Panel de control</h4></a></li>
    <li><h4>/</h4></li>
    <li><a href="/personas"><h4>Administrar Personas</h4></a></li> 
    <li class="active"><h4>/ Listar Pacientes</h4></li>
  </div>
  <div class="panel-body">   

    <%- model_class = Paciente -%>
    <div class="page-header">
      <h3>Listando pacientes</h3>
    </div>
    <!-- Busqueda por implementar, ajustes -->
    <%= form_tag "/pacientes", :class => 'form-search', :method => 'get', :id => "paciente_search" do %>
      <p>
        <%= text_field_tag :searchpaciente, params[:searchpaciente],  :class => 'input-medium search-query' %>
        <%= submit_tag "Buscar Paciente", :name => nil, :class => 'btn' %>
      </p>
    <% end %> 

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:perIdPersona) %></th>
          <th><%= model_class.human_attribute_name(:idPersona) %></th>
          <th><%= model_class.human_attribute_name(:idTipoPaciente) %></th>
          <th><%= model_class.human_attribute_name(:idEstadoPaciente) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @pacientes.each do |paciente| %>
          <tr>
            <td><%= link_to paciente.id, paciente_path(paciente) %></td>
            <td><%= paciente.perIdPersona %></td>
            <td><%= paciente.idPersona %></td>
            <td><%= paciente.idTipoPaciente %></td>
            <td><%= paciente.idEstadoPaciente %></td>
            <!-- <td><%#= paciente.created_at %></td>  -->
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_paciente_path(paciente), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          paciente_path(paciente),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @personas, renderer: BootstrapPagination::Rails %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_paciente_path,
                :class => 'btn btn-primary' %>
  </div>
</div>
