<%- model_class = Persona -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:idPersona) %>:</strong></dt>
  <dd><%= @persona.idPersona %></dd>
  <dt><strong><%= model_class.human_attribute_name(:domicilioPersona) %>:</strong></dt>
  <dd><%= @persona.domicilioPersona %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombresPersona) %>:</strong></dt>
  <dd><%= @persona.nombresPersona %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apellidosPersona) %>:</strong></dt>
  <dd><%= @persona.apellidosPersona %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fechaNacimientoPersona) %>:</strong></dt>
  <dd><%= @persona.fechaNacimientoPersona %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rutPersona) %>:</strong></dt>
  <dd><%= @persona.rutPersona %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.Atras', :default => t("helpers.links.atras")),
              personas_path, :class => 'btn'  %>
  <%= link_to t('.Editar', :default => t("helpers.links.editar")),
              edit_persona_path(@persona), :class => 'btn' %>
  <%= link_to t('.Borrar',
              :default => t("helpers.links.borrar")),
              persona_path(@persona),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => '¿Estás seguro?') },
              :class => 'btn btn-danger' %>
</div>
