<p id="notice"><%= notice %></p>

<p>
  <strong>Nombrespersona:</strong>
  <%= @persona.nombresPersona %>
</p>

<p>
  <strong>Apellidospersona:</strong>
  <%= @persona.apellidosPersona %>
</p>

<p>
  <strong>Fechanacimientopersona:</strong>
  <%= @persona.fechaNacimientoPersona %>
</p>

<p>
  <strong>Rutpersona:</strong>
  <%= @persona.rutPersona %>
</p>

<p>
  <strong>Domiciliopersona:</strong>
  <%= @persona.domicilioPersona %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
