<%= form_for @asignacione, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :idAsignacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :idAsignacion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :perIdPersona, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :perIdPersona, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pacIdPersona, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pacIdPersona, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idPersona, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :idPersona, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idUsuario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :idUsuario, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idSala, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :idSala, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idTipoAsignacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :idTipoAsignacion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idCama, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :idCama, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :idArea, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :idArea, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iniFechaAsignacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iniFechaAsignacion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iniHoraAsignacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iniHoraAsignacion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :finFechaAsignacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :finFechaAsignacion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :finHoraAsignacion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :finHoraAsignacion, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                asignaciones_path, :class => 'btn' %>
  </div>
<% end %>
